@model ParadiseLost.ViewModels.UserLoginModel

@using (Html.BeginForm("LoginIntoAccount", "User", FormMethod.Post))
{
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <p>
        @Html.LabelFor(m => m.UserName, "Имя")<br>
        @Html.TextBoxFor(m => m.UserName)
        <span asp-validation-for="UserName"></span>
    </p>
    <p>
        @Html.LabelFor(m => m.Password, "Пароль")<br>
        @Html.PasswordFor(m => m.Password)

        <span asp-validation-for="Password"></span>

    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
}

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}