@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
    @Html.ActionLink("Регистрация", "SignIn", "Home")
    @Html.ActionLink("АдминКа", "Index", "Admin")
    </p>
</div>
