@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @Html.ActionLink("Регистрация", "Create", "User")
        @Html.ActionLink("Логин", "Login", "User")
        @Html.ActionLink("АдминКа", "Index", "Admin")
        @Html.ActionLink("Роли", "Index", "Roles")

    </p>
</div>
