<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParadiseLost</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" runat="server" />
    <link rel="stylesheet" href="~/css/customCss.css" runat="server" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/9ff07a146f.js" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">Paradise lost </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="User">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Usermenu" asp-controller="User">Сообщения</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Logout" asp-controller="User">Выход</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Create" asp-controller="User">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Login" asp-controller="User">Вход</a>
                        </li>
                    }

</ul>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @if (User.Identity.IsAuthenticated)
        {

            <div class="row mb-2">
                <div class="nav-scroller py-1 mb-2">
                    <nav class="nav d-flex justify-content-center">
                        <a asp-action="Index" asp-controller="User" class="p-2 text-muted">Профиль</a>
                        <a asp-action="Profile" asp-controller="User" class="p-2 text-muted">Изменить данные профиля(имя, город, улицу)</a>
                        <a asp-action="Usermenu" asp-controller="User" class="p-2 text-muted">Сообщения</a>
                        <div class="btn-group">
                            <button type="button" class="p-2 text-muted dropdown-toggle" data-toggle="dropdown">
                                Для работников компании
                            </button>
                            <div class="dropdown-menu">
                                @if (User.IsInRole("company"))
                                {
                                <a asp-action="Index" asp-controller="Company" class="dropdown-item">Главная</a>
                                <a asp-action="Trips" asp-controller="Company" class="dropdown-item">Путёвки компании</a>
                                <a asp-action="Edit" asp-controller="Company" class="dropdown-item">Изменение компании</a>

                                }
                                else 
                                {
                                <a asp-action="Create" asp-controller="Company" class="dropdown-item">Создание компании</a>
                                }
                                <a asp-action="CompanyLogin" asp-controller="User" class="dropdown-item">Вход в компанию</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

        }
        else
        {
        
        }
                @RenderBody()
        </main>



    <footer class="my-5 pt-5 text-muted text-center text-small border-top">
        <div class="container">
            <div class="inner">
                &copy; 2020 - ParadiseLost - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
